In [84]:
###DESTRIPTIVE STATISTICS
#creating the data
data=[24,26,27,32,4,7,69,87,89,99,101,112,107]
data

[24, 26, 27, 32, 4, 7, 69, 87, 89, 99, 101, 112, 107]

In [86]:
range=max(data)-min(data)
range

108

In [88]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import skew
from scipy.stats import kurtosis
import statistics

In [90]:
mean=sum(data)/len(data)
mean

60.30769230769231

In [92]:
median=np.median(data)
median

69.0

In [94]:
mode=statistics.mode(data)
mode

24

In [96]:
std=np.std(data)
std

39.25730625851137

In [98]:
#skewness
#Skewness < 0: Then more data in the right tail of the distribution.
skewness=skew(data)
skewness

-0.08819203485727097

In [100]:
# data standard normal distribution has kurtosis of 3 then it is showen as a "bell"shaped curve
#kurtosis
kurt=kurtosis(data)
kurt
#from the data kurtosis <3 then,it will not be in bell shaped curve

-1.6659259606932129

In [102]:
#INFERENTIAL STATISTICS 
#CORELATIONS & COVARIANCE OF DATA

In [104]:
#LOAD THE DATA 
df=pd.read_csv("C:/Users/ravi/Downloads/data.csv")
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [106]:
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

### #to find the corelations of the columns 
#The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.

#The number varies from -1 to 1.

#1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well.

#0.9 is also a good relationship, and if you increase one value, the other will probably increase as well.

#-0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably go down.

#0.2 means NOT a good relationship, meaning that if one value goes up does not mean that the other will.

In [111]:
df.corr(method='spearman')

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.158436 -0.068517  0.815127
Pulse    -0.158436  1.000000  0.788520  0.186022
Maxpulse -0.068517  0.788520  1.000000  0.271928
Calories  0.815127  0.186022  0.271928  1.000000

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [115]:
#calculate the covaraince
cov = df.cov()
print(cov)

              Duration       Pulse    Maxpulse      Calories
Duration   1789.285714  -95.386905    6.543040  10541.779964
Pulse       -95.386905  210.547619  187.745879     97.950816
Maxpulse      6.543040  187.745879  270.616793    900.323552
Calories  10541.779964   97.950816  900.323552  70958.261377

In [129]:
#distributions 

import matplotlib.pyplot as plt
plt.hist(df, ec='black', bins=15)
plt.show()

C:\Users\ravi\AppData\Local\Temp\ipykernel_9780\2286108622.py:5: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()